
body{
    margin: 0px;
}

h1{
    text-align: center;
}

h3{
    color: rgb(255, 0, 0);
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#resume{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    background-color: hsl(0, 0%, 25%);
    color: white;
    padding: 10px;
}

#resume:hover{
    background-color: hsl(0, 0%, 10%);
}

.contacts ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: left;
}